.footer {
  padding: 96px 0;
  background-color: #2e2f42;

  @media screen and (min-width: 1158px) {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
    padding: 0 108px;
  }

  @media screen and (min-width: 1158px) {
    padding: 0 15px;
    column-gap: 0px;
  }
}

.footer-info {
  @media screen and (min-width: 1158px) {
    margin-right: 120px;
  }
}

.social-title {
  color: #fff;
  margin-bottom: 16px;
  text-align: left;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}

.footer-social {
  @media screen and (min-width: 1158px) {
    margin-right: auto;
  }
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: left;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-form-input {
  width: 100%;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  border-radius: 4px;

  height: 40px;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
  opacity: 0.3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 264px;
  }
}

.footer-form-input:focus {
  outline: transparent;
  border-color: #31d0aa;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  background-color: #4d5ae5;
  color: #ffffff;
}
.svg-social {
  fill: var(--cloud);
}
.subscribe-btn:focus {
  background-color: #31d0aa;
}
